

<div class="comments-content">
<% user=User.find_by_id(comment.user_id) %>

 <span class="tooltip commenter" data-tooltip-content="#tooltip_content"><%= link_to user.try(:name), url_for(controller:'newsfeed',action: 'profile',method: "get",user_id:user.id)%>
  </span>

  &ensp;<p><%= comment.content %></p>
   <span>
             <i class="fa fa-angle-down" aria-hidden="true"></i>
   </span>
</div>

