<div class="ui card">
   <div class="image">
      <%= image_tag current_user.avatar.url(:medium),:class =>"h-pro-image",:alt=>""%>
   </div>
   <div class="content">
      <a class="header"><%= link_to current_user.try(:name), url_for(controller:'newsfeed',action: 'profile',method: "get",user_id:current_user.id)%></a>
      <div class="meta">
         <span class="date">Joined in 2013</span>
      </div>
      <div class="description">
         Kristy is an art director living in New York.
      </div>
   </div>
   <div class="extra content">
      <a>
         <i class="user icon"></i>
         <%= current_user.followers(current_user.id) %>
      </a>
   </div>
</div>