
$('#posts').append('<%= j render(@posts)%>');
<% if @posts.next_page %>
$('.pagination').replaceWith('<%= j will_paginate(@posts) %>');
$('.pagination').css("display","none");
$('.loading_more').css("display","block");

<% else %>
$('.pagination').remove();
$('.loading_more').css("display","none");
<% end %>

$('.comment-input').atwho({
    at: '@',
    searchKey: 'real_name',
    displayTpl: "<li class='mention-item' </li>" + "<img class=\"h-pro-image\" alt=\"\" src=${image}>"  + "<span  data-value='(${real_name},)'>${real_name}" + "<br>",
    callbacks: {
        remoteFilter: function(query, callback) {
            if (query.length < 1) {
                return false;
            } else {
                return $.getJSON('/mentions', {
                    q: query
                }, function(data) {
                    console.log(data);
                    return callback(data);
                });
            }
        }
    }
});


$('.reply-input').atwho({
    at: '@',
    searchKey: 'real_name',
    displayTpl: "<li class='mention-item' </li>" + "<img class=\"h-pro-image\" alt=\"\" src=${image}>"  + "<span  data-value='(${real_name},)'>${real_name}" + "<br>",
    callbacks: {
        remoteFilter: function(query, callback) {
            if (query.length < 1) {
                return false;
            } else {
                return $.getJSON('/mentions', {
                    q: query
                }, function(data) {
                    console.log(data);
                    return callback(data);
                });
            }
        }
    }
});
