<div class="users-page">



   <div>

         <%= form_tag users_path, :method => 'get', :id => "products_search" do %>

          <div class="search-bar" >
             <div class="wrap">
                <div class="search">
                   <input type="text" class="searchTerm" name="search" placeholder="Search for your college buddies">
                   <button type="submit" class="searchButton">
                      <i class="fa fa-search"></i>
                   </button>
                </div>
             </div>
          </div>



         <% end %>
         <div id="users">
            <%= render 'users' %>
         </div>
         <%= will_paginate @users %>
         </div>

</div>