<%= form_for @reply,remote:true do |form| %>
    <div class="comment-box">

                <span style="border-radius: 22px">
                    <div>
                       <textarea data-autoresize rows="2" style="width: 80%;border-radius: 18px;height: 30px;padding: 5px 0 0 20px" name="reply[content]" class="reply-input" id="reply_form" placeholder="Add a Reply"></textarea>
                       <%= hidden_field_tag :comment_id, comment.id %>
                       <but style="margin-right: 5%;">
                       <%= button_tag(type: "submit", class: "postbutton",:style => "padding-right:3%;width: 20% ;background: none;border: none;}", data: { disable_with: "<i class='fa fa-spinner fa-spin'></i>"}) do %>
                           <i class="fa fa-arrow-right" aria-hidden="true" style="color: #7e2444;"></i>
                       <% end %>
                        </but>
                    </div>
                </span>

    </div>

<% end %>