<% if @users.length == 0 %>
    <h3>Oops! No result found</h3>

    <h5>Koi baat ni, kisi aur ko dhoond lo</h5>
<% end %>

<div class="ui four doubling cards">

   <% @users.each do |user| %>
       <% if user.confirmed? %>
           <div class="card">
              <div class="image">
                     <%= image_tag user.avatar.url(:original),:class =>"profile_image" %>
              </div>
              <div class="content">
                 <div class="header">
                    <%= render 'profile/profile_link' ,user: user %>

                 </div>
                 <!--<div class="meta">-->
                    <!--<%= user.email %>-->
                 <!--</div>-->

              </div>
              <span class="follow_button">


              <%= render 'newsfeed/follow_link', user: user %>
              </span>
           </div>
       <% end %>
   <% end %>

</div>
