<div style="display: flex;
    align-items: center;
    padding-bottom: 30px;color: rgb(124, 45, 117);
    " >
<span class="go_back"><i class="fa fa-arrow-left" style="-webkit-text-stroke: 1px rgb(124, 45, 117);
    color: white;font-size: 25px;"></i></span>
<span style="font-size: 28px;
    right: 25%;
    position: absolute;
    left: 25%;
    width: 50%;
    text-align: center;
    font-family: 'Poiret One', sans-serif;" class="go_back_text">Basic info</span>
</div>
