<div class="notification-page">
    <div class="left-panel" style="box-shadow: none">

    </div>
    <div class="notification-show">
        <h3 style="color: #362121;">Notifications</h3>
        <hr style="opacity: 0.3">


        <%  if @notifications.length == 0 %>
            <p>No Notifications yet</p>
        <% end %>

    </div>
    <div class="right-panel">

    </div>
</div>


