<div class="notification-page">
  <div class="left-panel">

  </div>
  <div class="notification-show">
    <h3 style="color: #362121;">Notifications</h3><hr>
    <% @notifications.each do |n| %>

        <% user=User.find_by_id(n.user_id) %>
        <% post=Post.find_by_id(n.noti_type_id) %>
        <p><%= image_tag user.avatar.url(:medium),:class =>"profile_image"%>
        <%= link_to n.message,post_path(:id=>post.id)%> </p><hr>
    <% end %>

    <%  if @notifications.length == 0 %>
        <p>No Notifications yet</p>
     <% end %>

  </div>
  <div class="right-panel">

  </div>
</div>


