<div class="notification-page">
   <div class="left-panel" style="box-shadow: none">
      <%= render 'newsfeed/sidepanel' %>
   </div>
   <div class="noti_panel">
      <h3 style="color: #362121;">Notifications</h3>

      <%  if @notifications.length == 0 %>
          <p>No Notifications yet</p>
      <% end %>
      <div id="notifications">
         <%= render @notifications %>
         <%= will_paginate @notifications %>
      </div>


   </div>
   <div class="right-panel">

   </div>
</div>

<script>
    $(".descrip123").html('Notifications');

</script>


