<div class="notification-page">
   <div class="left-panel" style="box-shadow: none">
      <%= render 'newsfeed/sidepanel' %>
   </div>
   <div class="noti_panel">
      <h3 style="color: #362121;">Notifications</h3>
      <hr style="opacity: 0.3">


      <%  if @notifications.length == 0 %>
          <p>No Notifications yet</p>
      <% end %>
      <% @notifications.each do |n| %>

          <span>
             <%=  markdown(n.message)%>
             <% unless n.noti_type == 'request accept' %>
               <%= link_to 'View', notifications_view_path(noti_type: n.noti_type, noti_type_id: n.noti_type_id) %>
             <% end %>
          </span>
          <br>

      <% end %>


   </div>
   <div class="right-panel">

   </div>
</div>

<script>
    $(".descrip123").html('Notifications');

</script>


