<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>



<ul>
  <li style="margin-left:15px;letter-spacing: 3px;float:left"><a href="#about">S</a></li>
  <li style=""><%= link_to "Signin",  new_user_session_path %>
  <li style=""><%= link_to "Signup", new_user_registration_path %>
</li>
</ul>
