

<% if @post.nil? %>
noty({
    text: 'Oops! You have less than 5 followers',
    theme: 'metroui',
    type: 'alert',
    layout: 'topCenter',
    timeout: 1000

});

<% else %>
//noty({
//    text: 'Post was Created',
//    theme: 'metroui',
//    type: 'alert',
//    layout: 'topCenter',
//    timeout: 1000
//
//});

$('#posts').prepend("<%= escape_javascript (render 'post', post: @post) %>");

$("#imgInp").val('');
$(".dup-pic").css("display","none");

<% end %>
$('#post_content').val("");
$('#post_anonymous').attr('checked', false); // Unchecks it
$('.anonymous').css("display", "block");
$("#post_anonymous").attr("disabled", false);

var create_post_submit = document.getElementById('create_post_submit');
create_post_submit.setAttribute("disabled", "");
console.log(create_post_submit.disabled);


$('.comment-input').atwho({
    at: '@',
    searchKey: 'real_name',
    displayTpl: "<li class='mention-item' </li>" + "<img class=\"h-pro-image\" alt=\"\" src=${image}>"  + "<span  data-value='(${real_name},)'>${real_name}" + "<br>",
    callbacks: {
        remoteFilter: function(query, callback) {
            if (query.length < 1) {
                return false;
            } else {
                return $.getJSON('/mentions', {
                    q: query
                }, function(data) {
                    console.log(data);
                    return callback(data);
                });
            }
        }
    }
});


$('.reply-input').atwho({
    at: '@',
    searchKey: 'real_name',
    displayTpl: "<li class='mention-item' </li>" + "<img class=\"h-pro-image\" alt=\"\" src=${image}>"  + "<span  data-value='(${real_name},)'>${real_name}" + "<br>",
    callbacks: {
        remoteFilter: function(query, callback) {
            if (query.length < 1) {
                return false;
            } else {
                return $.getJSON('/mentions', {
                    q: query
                }, function(data) {
                    console.log(data);
                    return callback(data);
                });
            }
        }
    }
});
