/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require_tree .
 *= require tooltipster.bundle.min
 *= require plugins/tooltipster/sideTip/themes/tooltipster-sideTip-punk.min
 *= require jcrop
 *= require social-share-button
 *= require jquery.atwho
 *= require_self
 *= require animate

 */
@import "semantic-ui";
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);


.turbolinks-progress-bar {
    height: 0px;
    background: rgb(125, 45, 118);
}

.social-share-button {
    .ssb-icon {
        background-size: 24px;
        height: 24px;
        width: 24px;
    }
}

.ui.comments .comment{
    font-size: 16px;
    -webkit-text-stroke-width: 0px;
}
.ui.comments .comment .comments {
    margin: 0;
    padding: 0;
}
.ui.comments .comment .metadata {
    display: inline-block;
    margin-left: 0.5em;
    color: rgba(0, 0, 0, 0.4);
    font-size: 0.875em;
}
.ui.comments .comment .metadata > :last-child {
    /* margin-right: 0em; */
}
.comments {
    padding: 0px 2% 0px 2%;
}
.ui.comments {
    margin: 0em 0em;
    max-width: 650px;
    border-bottom: 1px solid #eae9e9;
}
.ui.dropdown {
    height:20px;

}
.ui.menu .active.item:hover, .ui.vertical.menu .active.item:hover {
    background-color: rgb(124, 45, 117);
    color: rgb(255, 255, 255);
}
.ui.menu .active.item {
    background: rgb(124, 45, 117);
    color: rgb(255, 255, 255);
    font-weight: normal;
    box-shadow: none;
}


.ui.dropdown .menu > .item {
    padding: 0.0rem 0rem !important;
}
.ui.dropdown .menu > .item a {
    padding: 10px 16px;
    display: block;
}
/* line 78, /Users/nitin/.rvm/gems/ruby-2.4.1/gems/semantic-ui-sass-2.2.12.1/app/assets/stylesheets/semantic-ui/globals/_site.scss */

h3:last-child,h3:First-child{
    margin-top: none;
}

p {
    margin: 0em 0em 0em;
    line-height: 1.4285em;
}

.ui.grid > * {
    padding-left: 0rem;
    padding-right: 0rem;
}

.ui.card {
    margin: 0em 0em;
}
.ui.four.cards > .card {
    width: calc( 25%  -  1.5em );
    margin-left: 0.75em;
    margin-right: 0.75em;
    padding-bottom: 20px;
}
.ui.four.cards > .card:hover {
    transform: scale(1.05);
}
.ui.six.cards > .card {
    padding-bottom: 20px;
}

.ui.four.cards > .card:hover {
    box-shadow: 0px 0px 3px rgb(125, 45, 118);
    transition-delay: 0.2s;
    transition-timing-function: ease;
}
.ui.cards > .card > .image,
.ui.card > .image {
    background: white;
}

.ui.comments .comment img.avatar, .ui.comments .comment .avatar img {
    display: block;
    margin: 0em auto;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.ui.tabular.fluid.menu {
    width: calc(100% +  0px ) !important;
}

/*--------------
  Rounded Edges
---------------*/
/* line 99, /Users/nitin/.rvm/gems/ruby-2.4.1/gems/semantic-ui-sass-2.2.12.1/app/assets/stylesheets/semantic-ui/views/_card.scss */
.ui.cards > .card > :first-child,
.ui.card > :first-child {
    border-radius: 0.0rem 0.0rem 0em 0em !important;;
    border-top: none !important;
}


.ui.cards > .card,
.ui.card {
    box-shadow: 0px 0px 3px #d7d2d4;
    border-radius: 0;
}
.ui.cards > .card > .content, .ui.card > .content {
    text-align: center;
    border-top: 0;
}
.ui.cards > .card > .content > .header, .ui.card > .content > .header {
    display: block;
    font-family: 'Jura', sans-serif;
    color: rgba(0, 0, 0, 0.85);
}

.ui.cards > .card .meta, .ui.card .meta {
    font-size: 0.8em;
    color: #353b3f;
    letter-spacing: 0.04em;
}

.ui.selection.dropdown{
    min-width: 80px;
}

.ui.dropdown .menu > .item:hover {
    background: rgb(125, 45, 118);
    color: rgb(255, 255, 255);
    z-index: 13;
    a{
        color: rgb(255, 255, 255);
    }
}
.ui.dropdown .menu > .item {
    a:hover {
        background: rgb(125, 45, 118);
        color: rgb(255, 255, 255);
        z-index: 13;
    }
}

.ui.dropdown.selected, .ui.dropdown .menu .selected.item {
    background: rgba(0, 0, 0, 0.03);
}
.ui.dropdown.selected, .ui.dropdown .menu .selected.item {
    background: rgba(255, 255, 255, 0.03);
}

.ui.menu {
    margin: 0;
}

.ui.input input:focus {
    border-color:  rgb(125, 45, 118);
    background: #FFFFFF;
    color: rgba(0, 0, 0, 0.8);
}

.ui.form textarea:focus {
    color: rgba(0, 0, 0, 0.95);
    border-color:rgb(125, 45, 118);
}

* {
    padding: 0;
    margin:0;
}
body{
    height: 100%;
}
*:focus {
    outline: none;
}
a, a:active, a:visited, a:focus,a:hover {
    text-decoration:none;

}
a:hover {

    text-decoration: none;
}
a{
    color:#7d2d76;
}
input {
    border: none;
    background: transparent;
}
textarea {
    box-sizing: border-box;
    resize: none;
}

button,
input,
optgroup,
select,
textarea {

}

@-webkit-keyframes autofill {
    to {
        color: white;
        background-color: rgba(0, 0, 0, 0.4);
    }
}

input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}
#search{
    border: 1px solid black;
    width: 100%;
}

#alert,#notice{
    width: 100%;
    position: fixed;
    font-size: 18px;
    top:0;
    color: white;
    text-align: center;
    line-height: 35px;
    font-family: 'Jura', sans-serif;
}
textarea::placeholder {
    color: black;;
    font-size: 15px;
    font-family: Lato, sans-serif;
}
//
//input::placeholder {
//    color: #7e2444;
//    font-size: 16px;
//    font-family: Lato, sans-serif;
//}

.likelink{
    text-decoration: none;
}

.faheart{
    font-size: 24px;
    color: red;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ff3bcb;
}

.emoji {
    margin: 0px;
}

.emoji-picker-icon {
    position: absolute;
    right: 5px;
    top:8px;
    font-size: 24px;
    opacity: 0.7;
    z-index: 100;
    transition: none;
    color: #0d112b;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.profile_image {
    width: 42px;
    height: 42px;
    border-radius: 21px;
}

.size-32{

    width: 32px;
    height: 32px;
    border-radius: 50%;

}

.emoji-picker-container {

    background-color: white;
    position: relative;
    width: 100%;
    z-index: 0;
    border: 2px solid #7e2444;
    border-radius: 4px;
    textarea{
    }
}

.emoji-wysiwyg-editor:focus{

}

.post-input{
    width: 94%;
    resize: none;
    font-family: sans-serif;
    font-size: 17px;
    padding: 20px 5% 6px 1%;
    margin-bottom: 0;
    height: 20px;
    border-bottom: 2px solid grey;
    min-height: 0;
    overflow: auto;
    position: relative;
    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
    line-height: 17px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
    -webkit-user-select: text;
    word-wrap: break-word;
}

div {
    animation-duration: 1s;
    animation-name: slidein;
}

//AT who
.atwho-view ul {
    align-items: center;
}

.atwho-view ul li {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 5px 10px;
    border-bottom: 1px solid rgb(221, 221, 221);
    span{
        padding-left: 10px;
    }
    img{
        width: 30px;
        height: 30px;
    }
}

.atwho-view .item strong {
    color: black;
    font: bold;
}


@media screen and (max-width: 1000px) {

    ui.four.doubling.cards > .card {
        width: calc(50% - 2em);
        margin-left: 1em;
        margin-right: 0;
    }
}

@media only screen and (max-width: 767px) {
    .ui.four.doubling.cards {
        margin-left: 0em;
        margin-right: 0em;
    }
}

@media only screen and (max-width: 767px) {
    .ui.four.doubling.cards > .card {
        width: calc(50% - 1.5em);
        margin-left: 1em;
        margin-right: 0em;
    }

    .ui.menu .active.item {
        background: white;
        color: black;
        font-weight: normal;
        box-shadow: none;
    }


}