/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
  *= require rails_emoji_picker
 *= require_self
 */

* {
    padding: 0;
    margin:0;
}
body{
    background-color: #F3F3F3;
}



.emoji {
    margin: 0px;
}
.emoji-picker-icon {
    position: absolute;
    right: 5px;
    top:50px;
    font-size: 24px;
    opacity: 0.7;
    z-index: 100;
    transition: none;
    color: #0d112b;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.style_image {
    width:98%;
    height: 480px;
    border-radius: 4px;
    image-resolution:snap;
}

.profile_image {
    padding-left: 8px;
    width: 55px;
    height: 55px;
    border-radius: 50%;

}

.emoji-picker-container {
    margin-top: 10px;
    height:
    background-color: white;
    position: relative;

    width: 100%;
    max-width: 100%;
    z-index: 0;
    border: 2px solid #0d112b;
    border-radius: 8px;




}
.emoji-wysiwyg-editor {
    font-family: sans-serif;
    font-size: 17px;
    padding: 15px 35px 6px 10px;
    margin-bottom: 0;
    min-height: 50px;
    height: 60px;
    max-height: 284px;
    overflow: auto;
    position: relative;
    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
    resize: both;
    line-height: 17px;
    outline: none;
    border: none;

    -webkit-box-shadow: none;
    box-shadow: none;
    transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
    -webkit-user-select: text;
    word-wrap: break-word;
}

