/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require_tree .

 *= require rails_emoji_picker
 *= require tooltipster.bundle.min
 *= require plugins/tooltipster/sideTip/themes/tooltipster-sideTip-punk.min
 *= require_self
 *= require animate

 */
@import "semantic-ui";
.ui.comments .comment{
    font-size: 16px;
    -webkit-text-stroke-width: 0px;
}
.ui.comments .comment .metadata {
    display: inline-block;
    margin-left: 0.5em;
    color: rgba(0, 0, 0, 0.4);
    font-size: 0.875em;
}
.ui.comments .comment .metadata > :last-child {
    /* margin-right: 0em; */
}
.comments {
    padding: 0px 2% 0px 2%;
}
.ui.comments {
    margin: 0em 0em;
    max-width: 650px;
}
.ui.dropdown {
    height:20px;

}

/* line 78, /Users/nitin/.rvm/gems/ruby-2.4.1/gems/semantic-ui-sass-2.2.12.1/app/assets/stylesheets/semantic-ui/globals/_site.scss */

h3:last-child,h3:First-child{
     margin-top: none;
}

p {
    margin: 0em 0em 0em;
    line-height: 1.4285em;
}
.ui.card {
    margin: 0em 0em;
}
* {
    padding: 0;
    margin:0;
}
body{
    height: 100%;
}
*:focus {
    outline: none;
}
a, a:active, a:visited, a:focus,a:hover {
    text-decoration:none;
    color: none ;
}

input {
    border: none;
    background: transparent;
}
textarea {
    box-sizing: border-box;
    resize: none;
}
#search{
    border: 1px solid black;
    width: 100%;
}

#alert,#notice{
    width: 100%;
    position: fixed;
    font-size: 18px;
    top:0;
    color: white;
    text-align: center;
    line-height: 35px;
    font-family: 'Jura', sans-serif;
}
ul#noty_topCenter_layout_container.i-am-new{
    top:80px;
}
.likelink{
    text-decoration: none;
}

.faheart{
    font-size: 24px;
    color: red;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ff3bcb;
}

.emoji {
    margin: 0px;
}

.emoji-picker-icon {
    position: absolute;
    right: 5px;
    top:8px;
    font-size: 24px;
    opacity: 0.7;
    z-index: 100;
    transition: none;
    color: #0d112b;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.profile_image {
    width: 42px;
    height: 42px;
    border-radius: 21px;
}

.emoji-picker-container {

    background-color: white;
    position: relative;
    width: 100%;
    z-index: 0;
    border: 2px solid #7e2444;
    border-radius: 4px;
    textarea{
    }
}

.emoji-wysiwyg-editor:focus{

}

.post-input, {
    width: 94%;
    resize: none;
    font-family: sans-serif;
    font-size: 17px;
    padding: 20px 5% 6px 1%;
    margin-bottom: 0;
    height: 20px;
    border-bottom: 2px solid grey;
    min-height: 0;
    overflow: auto;
    position: relative;
    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
    line-height: 17px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
    -webkit-user-select: text;
    word-wrap: break-word;
}




