
#signin-page,#signup-page{
    height: 90%;
    padding-top: 5%;
    display: flex;
    justify-content: space-between;
    overflow-x:hidden ;
    overflow-y: hidden;
    //background-color:  #088b99;

}
#signup-page {
    height: 90%;
    padding: 0;
}

.front-page-logo {
    width: 32%;
    font-size: 25px;
    color: black;
    padding-top: 46px;
    h3 {
        color: white ;
        text-align:center;
        font-size:53px;
        font-family: 'Jura', sans-serif;
    }
}

#sign-in-form-section {
    width: 30%;
    padding-left: 2%;
    padding-right: 2%;
    opacity: 1;
}

.sign-in-form{
    margin-top: 60px;
    background-color: black;
    padding: 15px;
    font-size: 20px;
    color: white;
    opacity: 0.7;
    border-radius: 5px;
}

.form-topic{
    margin-bottom:10px;
    padding-top:10px;
    font-size:25px;
    font-family: 'Open Sans', sans-serif;
    color:white;
}

#user_email{
    letter-spacing: 1px;
    font-size: 16px;
    padding: 3% 0 3% 2%;
    border-radius: 3px;
    border: 1px solid black;
    margin-bottom: 12px;
    width: 100%;
    background-color: white;
}

#user_password,#user_password_confirmation,#user_about,#user_current_password{
    //letter-spacing: 1px;
    //font-size: 16px;
    //padding: 3% 0 3% 2%;
    //border-radius: 3px;
    //border: 2px solid black;
    //margin-bottom: 10px;
    //width: 100%;
    //background-color: white;
}

#user_name{
    //font-size: 16px;
    //padding: 3% 0 3% 2%;
    //margin-top: 12px;
    //border-radius: 3px;
    //border: 2px solid black;
    //margin-bottom: 12px;
    //width: 100%;
    //background-color: white;
}

.login-button{
    margin-top: 16px;
    font-family: 'Jura', sans-serif;
    width: 100%;
    margin-bottom: 15px;
    font-size: 22px;
    padding: 10px;
    background-color:#141224;
    color: wheat;
    text-decoration:none;
    text-align:center;
    border:solid 2px #354045;
}

.remember_me{
    font-family: 'Jura', sans-serif;
    font-size: 20px;
    color: white;
}

.input-mini{
    font-size: 13px;
}

.link-sign-up,.link-forgot-password,.link-confirmation-ins{
    text-decoration:none;
    color:white;
    font-weight:bold;
    font-family: 'Jura', sans-serif;
    line-height: 1.5em;
}
.link-sign-up{
    color:indianred;
}
.link-forgot-password{
    font-size: 18px;
}
.link-confirmation-ins{
    font-size: 14px;
}
.link-sign-up{
    font-size:20px;
}
#forgot:hover{
    color:#CB202D;
}

.slogans{
    width: 32%;
}

.typed-cursor{
    display: none;
}

#error_explanation {
    width: 95%;
    border: 2px solid red;
    padding: 7px 7px 0;
    margin-bottom: 20px;
    background-color: #f0f0f0;
    ul li {
        font-size: 20px;
    }
}

.field_with_errors {
    width: 100%;
    background-color: #fafbff;
    padding: 0;
    display: block;
}

.typed-slogan{
    background-color: white;
    height: 10%;
}

#typed-sample{
    color: #730E15;
    font-family: 'Jura', sans-serif;
    padding-top: 15px;
    font-size: 40px;
    text-align: center;
    margin-left: 100px;
}
.edit-profile{

    margin-left: 10%;
    margin-right: 10%;

    background-color: white;

}

@media screen and (max-width: 1000px) {

    .edit-profile-page{
        width: 100%;
        margin-bottom: 50px;
    }
    .edit-profile{
        width: 100%;
        margin-left: 0%;
        background-color: white;
        padding-left: 2%;
        padding-right: 2%
    }

    #signin-page{
        flex-direction: column;
        justify-content: flex-start;
        height: 100%;
        padding-top: 0;
        background-color: white;
    }

    #signup-page{
        flex-direction: column;
        height: auto;
        padding-top: 0;
        background-color: white;
    }

    .front-page-logo {
        width: 100%;
        padding-top: 0;
        background-color: white;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.07);
        h3{
            color: #730E15;
            font-size: 34px;
            margin-top: 30px;
            height: 48px;
        }
    }

    #sign-in-form-section {
        width: 90%;
        margin-left: 5%;
        margin-top: 50px;
        opacity: 1;
        height: auto;
        box-shadow: 0 20px 10px 0 rgba(0, 0, 0, 0.07);
        border: 2px solid #721615;
        border-radius: 6px;

    }
    .sign-in-form{
        border: 0;
        margin-top: 0;
        opacity: 1;
        background-color: inherit;
        padding: 5px;


    }
    .form-topic {
        margin-bottom: 4px;
        padding-top: 18px;
        font-size: 20px;
        font-family: 'Open Sans', sans-serif;
        color: black;
    }
    h3{
        margin-top: 0;
    }
    #user_email,#user_password{
        font-family: 'Jura', sans-serif;
        height: auto;
        width: 100%;
        border: solid 2px ;
        font-size: 18px;
        border-radius: 4px;
        background-color: white;


    }

    .login-button{
        font-family: 'Jura', sans-serif;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 6px;
        font-size: 20px;
        border-radius: 2px;
        background-color:white;
        color: #730E15;
        text-decoration:none;
        text-align:center;
        border:solid 2px #730E15;

    }
    .link-sign-up,.link-confirmation-ins,.link-forgot-password {
        font-size: 20px;
        color: black;
    }
    .link-confirmation-ins{
        font-size: 16px;
    }
    .remember_me{
        font-family: 'Jura', sans-serif;
        font-size: 20px;
        color: black;
    }
    .slogans{
        width: 100%;
    }

    .typed-slogan{
        display: none;
        //background-color: white;
        //height: 8vh;

    }

    #typed-sample{
        margin-left: 0;
        align-items: center;
        font-size: 18px;
        text-align: center;
        color: wheat;
    }

}
