
#signin-page,#signup-page{

    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    overflow-x:hidden ;
    overflow-y: hidden;
    background: rgba(15, 13, 13, 0.4);
    height: 100%;
}
#signup-page{
    height: auto;
    padding-bottom: 300px;
}

.signinPageLeft {
    width: 58%;
    font-size: 25px;
    color: black;
    padding-left: 10%;
    h3 {
        color: white ;

        font-size:53px;
        font-family: 'Poiret One', sans-serif;
    }
    h3:hover{
        color: #ffadc6;
        cursor: pointer;
    }
}

#sign-in-form-section {
    width: 42%;
    padding-left: 0%;
    padding-right: 13%;
    opacity: 1;
    a:hover{
        color: #ffadc6;
    }
}

.sign-in-form{
    font-size: 20px;
    color: white;
    border-radius: 5px;
}

.form-topic{
    margin-bottom:10px;
    padding-top:10px;
    font-size:25px;
    font-family: 'Poiret One', sans-serif;
    color:white;
}

.google_link{
    margin-bottom: 10px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 2% 0 2% 3%;

    img{
        height: 40px;
    }
    input{
        padding-left: 10px;
        color: white;
        font-family: 'Poiret One', sans-serif;
    }
    input:hover{
        color: #ffadc6;
        cursor: pointer;
    }
}

.user_email_field,.user_password_field, .user_name_field{
    letter-spacing: 1px;
    font-size: 16px;
    padding: 4% 0 3% 3%;
    border-radius: 3px;
    border: 1px solid black;
    margin-bottom: 20px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    font-family: 'Poiret One', sans-serif;

}

.login-button{
    margin: 15px 0;
    font-family: 'Poiret One', sans-serif;
    width: 100%;
    font-size: 22px;
    padding: 3% 0 3% 0%;
    background-color: rgba(0,0,0,0.4);
    color: white;
    text-decoration: none;
    text-align: center;
    border: solid 1px #000000;
}

.login-button:hover {
    color: #ffadc6;
    cursor: pointer;
}

.remember_me{
    font-family: 'Poiret One', sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    color: white;
    padding-left: 6px;
}

.input-mini{
    font-size: 13px;
}

.link-sign-up,.link-forgot-password,.link-confirmation-ins,.link-login{
    text-decoration:none;
    color:white;
    font-weight:bold;
    font-family: 'Poiret One', sans-serif;
    line-height: 1.5em;
    letter-spacing: 1px;
}

.link-forgot-password{
    font-size: 16px;
    float: right;
}
.link-confirmation-ins{
    font-size: 16px;
}
.link-sign-up{
    font-size:23px;
}
.link-login{
    font-size:23px;
}
#forgot:hover{
    color:#CB202D;
}

.slogans{
    width: 32%;
}

.typed-cursor{
    display: none;
}

#error_explanation {
    width: 50%;
    border: 2px solid #7c2d75;
    padding: 7px 7px 12px;
    margin-bottom: 20px;
    background-color: #e8b3b3;
    margin-left: 25%;
    h2{
        font-size: 16px;
    }
    ul {
        list-style: none;
        font-size: 15px;
    }
}

.field_with_errors {
    width: 100%;
    //background-color: #fafbff;
    padding: 0;
    display: block;
    border: 1px solid rebeccapurple;
}

.typed-slogan{
    background-color: white;
    height: 10%;
}

#typed-sample{
    color: #730E15;
    font-family: 'Jura', sans-serif;
    padding-top: 15px;
    font-size: 40px;
    text-align: center;
    margin-left: 100px;
}
.edit-profile{
    margin-top: 60px;
    margin-left: 10%;
    margin-right: 10%;

    background-color: white;

}
.go_back{
    display: none;
}
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@media screen and (max-width: 1000px) {

    .edit-profile-page{
        width: 100%;
        margin-bottom: 50px;
    }
    .edit-profile{
        width: 100%;
        margin-left: 0%;
        background-color: white;
        margin-top: 50px;
        .ui.grid {
            margin-top: 0;
            margin-bottom: 0;
            margin-left: 0;
            margin-right: 0;
            .stretched {
                padding-left: 0;
                padding-right: 0;
                position: fixed;
                margin-top: 0px;
                width: 100%;
                top: 0;
                z-index: 1;
                .ui.segment{
                    margin: 0;
                }
            }
            .first_row{
                width: 100%;
                .ui.fluid.menu.first_row_menu{
                    display: flex;
                    margin: 0px;
                    flex-direction: column;
                    border: none;
                    box-shadow: none;
                    .item{
                        border-bottom: 1px solid #dddddd;
                        border-radius: 0;
                    }

                }
            }

        }
    }

    .go_back{
        display: block;
    }

    #signin-page{
        flex-direction: column;
        justify-content: flex-start;
        height: 700px;
        padding-top: 0;
        padding-bottom: 100px;

    }

    #signup-page{
        flex-direction: column;
        height: auto;
        padding-top: 0;
        padding-bottom: 200px;


    }

    .signinPageLeft{
        padding-left:0 ;
        text-align: center;
        width: 100%;
        h3{
            font-size: 35px;
            padding-top: 10px;
        }
    }

    #sign-in-form-section {
        width: 100%;
        padding-left: 4%;
        padding-right: 4%;
        margin-top: 25px;
        opacity: 1;
        height: auto;

    }
    .sign-in-form{
        border: 0;
        margin-top: 0;
        opacity: 1;
        background-color: inherit;
        padding: 5px;


    }
    .form-topic {
        margin-bottom: 4px;
        padding-top: 18px;
        font-size: 20px;


    }
    h3{
        margin-top: 0;
    }



    .typed-slogan{

        //background-color: white;
        //height: 8vh;

    }

    #typed-sample{
        margin-left: 0;
        align-items: center;
        font-size: 18px;
        text-align: center;
        color: wheat;
    }

    #error_explanation {
        width: 100%;
        margin-left: 0;
    }

}
