// Place all the styles related to the Like controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.like-icon,.dislike-icon,.comment_icon,.report{
    font-size:26px;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: grey;
}
.like-icon:hover,.dislike-icon:hover,.comment_icon:hover,.report:hover{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(125, 45, 118);
}

.like-icon-activated,.dislike-icon-activated{
    font-size:26px;
    color: rgb(125, 45, 118);


}
.report{
    -webkit-text-stroke-color: #0b1893;
}

.response-count{
    font-size: 18px;
    color: black;
}
