div.createPost{
    background-color: white;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 10px;
    box-shadow: 0px 0px 1px #e5e5e5;
    .createpost_image{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-bottom: 30px;
        position: relative;
        left:10px;
    }

    div.input-post{
        width:88%;
        padding-right:2%;
        div.postbox-toolbar{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-top: 10px;
            padding-bottom: 7px;
            div#upload-pic-dummy{
                width: 10%;
                div.upload-pic{
                    opacity: 0;
                    cursor: pointer;
                    position: absolute;
                    z-index: 2;
                    #imgInp{
                        width: 32px;
                        height: 27px;
                    }
                    #post_avatar{
                        width: 100px;
                    }
                }
                .fa{
                    color:#7e2444;
                }
                button{
                    background-color: white;
                    width: 30px;
                    border: none;
                    color: #666;
                    padding: 3px 5px;
                    border-radius: 5px;
                    position: relative;
                    top: 0;
                    z-index: 0;
                }
            }
            div.anonymous{
                width: 60%;

                h3{
                    float: right;
                    font-size: 18px;
                    font-family: 'Jura', sans-serif;
                    //font-family: 'Poiret One', cursive;
                    //font-weight: 700;
                }
                #post_anonymous{
                    font-size: 40px;
                }
            }
            .postbutton{
                color: #7e2444;
                width: 20%;
                height: 28px;
                font-size: 20px;
                background-color:white;
                border: 1px solid;
                border-radius: 4px;
                font-family: 'Jura', sans-serif;
            }

            .postbutton:hover{
                background-color: #7e2444;
                color: white;
            }
        }
        .cancel-pic{
            font-size: 16px;
            background-color: black;
            color: white;
            /* border: 1px solid black; */
            border-radius: 5px;
            padding: 2px;
        }
    }
}