
  headerbar{
    z-index: 1;
    position: fixed;
    top:0;
    width: 100%;
    header {
      width: 100%;
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background:#1D1D1D;
      color:white;
      div.logo {
        a {
          font-size: 28px;
          font-variant: small-caps;//font-family: 'Pacifico', cursive;
          font-family: inherit;
          letter-spacing: 5px;
          margin-left:80px;
          padding-left:50px;
          color:white;
        }
      }
      nav {
        height: 56px;
        ul{
          display: flex;
          li{
            list-style: none;
            margin-right: 10px;
            text-decoration: none;
          }
          li a {
            display: block;
            color:#EC1C5B;
            text-align: center;
            padding: 10px 16px;
            text-decoration: none;
          }
          li a:hover{
            border-bottom: 3px solid #EC1C5B;
            color: white;
          }
        }
      }
    }

    subheader {
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #282C35;;
      color:white;
      border-bottom: 1px solid grey;
      nav {
        ul{
          margin-left: 900px;
          display: flex;
          li{
            list-style: none;
            margin-left: 10px;
            margin-right: 15px;

            text-decoration: none;
          }
          li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
          }
          li a:hover{
            background-color: red;
          }
        }
      }
    }
  }


  main {
    margin-top:80px;
    z-index: 0;
    display: flex;
    aside{
      width: 26%;
      div.sidepanel{
        width:80%;
        height:850px;
        margin-top:20px;
        margin-left: 20%;
        border:1px solid black;
        background-color:#282C35;
      }
    }
    section {
      width: 44%;
      padding-left: 2%;
      padding-right: 4%;
      div.createPost{
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width:100%;

        border-radius: 5px;
        box-shadow: 0px 0px 6px #666666;
        margin-top:20px;

        div.imagesection{
          width: 12%;
          padding-left: 8px;

          .createpost_image{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin-bottom: 30px;
          }
        }
        div.input-post{
          width:88%;
          padding-right: 10px;

          div.postbox-toolbar{
            display: flex;
            align-items: center;
            justify-content: space-between;

            div#upload-pic-dummy{

              div.upload-pic{
                #post_avatar{
                  width: 100px;
                }

                opacity: 0;
                cursor: pointer;
                position: absolute;
                z-index: 2;
              }

              button{
                background-color: white;
                width: 30px;
                border: none;
                color: #666;
                padding: 3px 5px;
                border-radius: 5px;
                position: relative;
                top: 0;
                z-index: 0;
                .fa{
                  font-size: 25px;
                  color: #7f4449;


                }

              }
            }
            div.anonymous{

              margin-left: 214px;
              h3{
                font-family: 'Poiret One', cursive;
                font-weight: 700;

              }
              #post_anonymous{
                font-size: 50px;
              }
            }
            .postbutton{
              color: white;
              width: 70px;
              height: 28px;
              font-size: 20px;
              background-color: #1D1D1D;
              border: 0px;
              border-radius: 4px;
            }

            .postbutton:hover{
              background-color: #e0245e;
              color: black;


            }

          }

        }

      }
      //createPost o
      div#posts{
        div.newsfeed{

          padding-top:14px;padding-left:0px;
          border-radius: 3px;
          border-bottom:2px solid black;
          box-shadow: 0px 0px 3px #666666;
          background-color: white;
          width:100%;
          //font-family: 'Dosis', sans-serif;
          margin-top:15px;
          color: black;
          font-size: 18px;
          div.user-detail{
            width:100%;
            display: flex;
          }
          div.post-box{
            width: 100%;
            color: black;
            img.style_image {
              width:98%;

              border-radius: 4px;
              image-resolution:snap;
            }


          }

        }
        div.newsfeed:hover{

        }

      }

    }
    ads{
      width:25%;

      div.adspanel{
        height: 100%;
        width: 90%;

        margin-top:20px;

        border:1px solid black;
        background-color:#282C35;;
      }
    }
    chatbox{
      width:20%;
      background-color:#282C35;
    }
  }




  .reaction{
    background-color:grey;
  }


  @media screen and (max-width: 1000px) {
    main {
      aside {
        width: 0;
      }
      section {
        width: 100%;
        div#posts div.newsfeed div.post-box img.style_image {

        }
      }
      ads {
        width: 0;
      }
      chatbox {
        width: 0;
      }


    }

  }
