body{
    //background-color:#f8f8f8; //#2e5b5b;
}

textarea{
    border: none;
}

main {
    margin-top:68px;
    z-index: 0;
    display: flex;
    aside{
        width: 28%;
        padding-right: 1%;
        div.sidepanel{
            width:75%;
            height:850px;
            margin-left: 25%;
            div.home-profile {
                //box-shadow: 0px 0px 3px #666666;
                padding: 12px;
                background-color: #fdfdfd;
                background-image: linear-gradient(49deg,#6166ae, #eb4f6f);
                color: #fff;
                display: flex;
                justify-content: space-between;
                border: 1px solid grey;
                img.h-pro-image {
                    width: 80px;
                    height: 80px;
                    border-radius: 50%;
                }
                #contentbox{
                    width: 60%;
                    padding-top: 10px;
                    color: black;
                    letter-spacing: .04em;
                    font-family: Lato,Helvetica,Arial,sans-serif;
                    .bigme{
                        font-size: 21px;
                        font-family: 'Jura', sans-serif;


                        }
                    .bigme a {
                        color: black;

                    }
                    .smallme{
                        font-size: 10px;
                    }
                }
            }
            .home-profile:hover{
                box-shadow: 0 0 30px 5px rgba(0,0,0,.22);
            }
            .trending-people{
                //text-align: center;
                margin-top: 50px;
                height: 600px;
                box-shadow: 0px 0px 3px #666666;
                //padding: 20px;
                background-color: white;
            }
            .trending-people:hover{
                //box-shadow: 0 0 1px 2px ;
            }
        }
    }
    section {
        width: 40%;
        padding: 0 1% 0 1%;
        div.createPost{
            background-color: white;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width:98%;
            padding-left: 2%;
            padding-top: 10px;
            box-shadow: 0px 0px 6px #666666;

            .createpost_image{
                width: 50px;
                height: 50px;
                border-radius: 50%;
                margin-bottom: 30px;
            }

            div.input-post{
                width:87%;
                padding-right:2%;
                div.postbox-toolbar{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    div#upload-pic-dummy{
                        width: 54%;
                        padding-top: 8px;
                        div.upload-pic{
                            opacity: 0;
                            cursor: pointer;
                            position: absolute;
                            z-index: 2;
                            #imgInp{
                                width: 32px;
                                height: 27px;
                            }
                            #post_avatar{
                                width: 100px;
                            }
                        }
                        .fa{
                            color:#7e2444;
                        }
                        button{
                            background-color: white;
                            width: 30px;
                            border: none;
                            color: #666;
                            padding: 3px 5px;
                            border-radius: 5px;
                            position: relative;
                            top: 0;
                            z-index: 0;
                        }
                    }
                    div.anonymous{
                        width: 25%;
                        h3{
                            font-size: 18px;
                            font-family: 'Jura', sans-serif;
                            //font-family: 'Poiret One', cursive;
                            //font-weight: 700;
                        }
                        #post_anonymous{
                            font-size: 40px;
                        }
                    }
                    .postbutton{
                        color: white;
                        width: 70px;
                        height: 28px;
                        font-size: 20px;
                        background-color:#7e2444;
                        border: 0px;
                        border-radius: 4px;
                        font-family: 'Jura', sans-serif;
                    }

                    .postbutton:hover{
                        background-color: #162180;
                        color: white;
                    }
                }
            }
        }

        div#posts{
            margin-top: 10px;
        }

    }
    ads{
        width:28%;
        padding-left: 1%;
        div.adspanel{

            width: 80%;
            box-shadow: 0px 0px 3px #666666;
            //background-color:#282C35;
        }
    }
    chatbox{
        width:0;
        background-color:#282C35;
    }
}




.reaction{
    background-color:grey;
}


div#probox{
    font-family: 'Jura', sans-serif;
    background-color: white;
    text-align: center;
    width: 98%;
    font-weight:bold;
    display:flex;
    justify-content: space-between;
    padding:1%;
}


@media screen and (max-width: 1000px) {

    div.newsfeed{
        margin-bottom: 10px;
    }
    headerbar {

        header {
            nav {

            }
            .logo{
                display: none;
            }
            .searchTerm{
                display: none;
            }
        }
    }
    main {
        aside {
            width: 0;
            .sidepanel{
                display: none;
            }
        }
        section {
            width: 100%;
            padding: 0;
            div#posts div.newsfeed div.post-box div.user-response {
                width: 100%;

            }
        }
        ads {
            width: 0;
            padding: 0;
        }
        chatbox {
            width: 0;
        }


    }

}
