

div.newsfeed{
    width: 100%;
    margin-bottom: 18px;
    box-shadow: 0px 0px 1px #d7d2d4;
    background-color: white;
    color: black;
    font-size: 18px;
    padding-top: 15px;
    h3{
        background-color: #efeeee;
        //padding-left: 2%;
        padding: 10px 0 10px 2%;

        color: #571743;
    }
    div.user-detail {
        width: 98%;

        display: flex;
        //padding-right: 2%;
        padding-left: 3%;

        padding-bottom: 0;
        //background-image: linear-gradient(49deg, #ffffff, #7e70a0);
        //background-color: #F0F4F5;
        //justify-content: space-between;
        .username {
            width: 90%;
            padding-top: 0px;
            div {
                width: 90%;
                a ,.user-annonymous{
                    font-family: 'Jura', sans-serif;
                    padding-top: 0px;
                    font-size: 22px;
                    color: black;//#434243;
                    //color: #571743; // #162180;
                    letter-spacing: -.03em;
                    margin-left: 14px;
                    font-weight: 900;
                }
                a:hover {
                    text-decoration: underline;
                    color:#7e2444 ;
                }

            }
        }
    }
    div.post-box{
        width: 100%;
        color: black;
        padding-top: 0;
        img.style_image {
            width:100%;
            image-resolution:snap;
        }

        p{
            padding: 6px 0 6px 3%;
            word-wrap: break-word;
            font-size: 20px;
            font-family: 'Poiret One', cursive;
            color: #4c4c4c;
            line-height: 24px;
            a{
                color: #7e2444;
            }
        }



    }
    div.user-response{
        display: flex;
        width: 100%;
        padding: 7px 6px 7px 4%;
        justify-content: space-between;
        align-items: center;

        .like{
            width: 25%;
        }
        .dislike{
            width: 25%;
        }
        .comment{
            width: 25%;
        }
        .report{
            width: 25%;
        }
    }

}

div.newsfeed:hover{
    //border: 0.0009em solid #3860bf;


}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  border-radius: 5px;
  width: 40%;
  height: 50px;
  background-color: #355f93;
  color: white;
  display: none;
  position: absolute;
  top: 40px;
  left: 48px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 8px 8px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

