// Place all the styles related to the profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
    margin:0;
    padding:0;
    background-color:#FAFAFA;
}

.pic-gal-image{
    width: 100%;
}
#left-box{
    margin-top:10px;
    width:0;
    height:900px;
    background-color:black;
}

#mid-box{
    margin-top: 10px;
    width: 100%;
    padding: 55px 5% 0 5%;
    /*box-shadow: 0px 0px 3px #666666;*/
}
#right-box{
    margin-top:10px;
    margin-left: 2%;
    width:20%;
    height:900px;
    /*background-color:black;*/
}
#wrapper{
    display:flex;
    background-color: white;

    /*justify-content: space-between;*/
    z-index:0;
    margin-top: 49px;

}
#dp-box{
    position: relative;
    padding-left: 25%;
    display: flex;
    padding-bottom: 55px;
    /*border-bottom: 1px solid grey;*/
}
#dp-box img{


}
.pp-info{
    width: 75%;
    padding-left: 5%;
    padding-top: 15px;
    div.pp-follow{
        width: 70%;
        padding-top: 0px;
        display: flex;
        align-items: center;
    }
}

.pp-name{
    font-size: 30px;
    font-family: 'Poiret One', sans-serif;
}
.pp-email{
    font-size: 16px;
    padding-top: 10px;
}

.pp-follow {
    margin-bottom: 20px;
    margin-top: 4px;
    p {
        font-size: 17px;
    }

    a {
        color: #7e2444;;
    }
    .button{
        margin-left: 10px;
        padding: 0 12px;
        color: #7d2d76;
        height: 28px;
        font-size: 20px;
        background-color: white;
        border: 1px solid;
        border-radius: 4px;
        font-family: 'Poiret One',sans-serif;
    }
    .button:hover{
        color: white;
        background-color:  #7d2d76;
    }
}

div.flwlst{
    background-color: white;
    text-align: center;
    font-weight:bold;
    display:flex;
    margin-bottom: 12px;
    a{
        font-size: 19px;
    }
    #flw{
        margin-right: 30px;
    }
}

#mob_view_info{
    display: none;
}

.pro-image{
    height: 200px;
    width: 200px;
    border-radius: 50%;


}
.cover-image{
    height: 100%;
    width: 100%;
}
#menu-span{
    display:flex;
    justify-content: space-around;
    background-color:white;
    border:1px solid grey;
}
#menu-span a{
    text-decoration:none;
    color:black;
    font-size:20px;
    width:50px;
}

.profile-posts{
    display: flex;
    padding-top: 20px;
    /*background-color: #730E15;*/
}
.pp-sidepanel{
    width:0% ;
    /*background-color: #730E15;*/

}
.pp-posts{
    width: 50%;
    margin-left: 25%;
}


@media screen and (max-width: 1000px) {

    .pp-sidepanel {
        width: 0;
        display: none;
    }

    #mid-box {
        margin-top: 10px;
        width: 100%;
        padding: 16px 2% 0 2%;
    }
    #dp-box {
        position: relative;
        padding-left: 0%;
        display: flex;
        padding-bottom: 10px;
        margin-left: 16px;
        margin-right: 16px;
        /*border-bottom: 1px solid grey;*/
        img {
            height: 80px;
            width: 80px;
            border-radius: 50%;
        }
    }
    .pp-info {
        width: 90%;
        padding-left: 3%;
        padding-top: 0px;
        div.pp-follow {
            width: 100%;
            padding-top: 0px;
            justify-content: space-between;
        }
    }

    #web_view_info {
        display: none;
    }
    #mob_view_info{
        display: block;
        margin-left: 16px;
    }

    .pp-posts {
        width: 100%;
        margin-left: 0%;
        margin-bottom: 100px;
    }
}
