@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
    background: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
}
main-page {
    display: flex;
    justify-content: space-between;
    .users-page {
        width: 69%;
        padding-left: 8%;
        .search-bar {
            width: 80%;
            margin-bottom: 40px;
            .filters{
                display: none;
            }
        }
        .ui.icon {
            display: flex;
            width: 64%;
            border: 0.13em solid rgb(125, 45, 118);
            border-radius: 5px;
            justify-content: space-between;
            margin-bottom: 10px;
            span {
                position: relative;
                display: inline-block;
                width: 100%;
                .typeahead {
                    width: 100%;
                }
                input {
                    border: none;
                }
                input:focus {
                    border: none;
                }
            }
        }
        .ui.icon:focus {
            width: 100%;
        }
    }

}
@media screen and (max-width: 1000px) {
    main-page {
        .users-page {
            width: 100%;
            margin-left: 0%;
            padding-left: 0;
            .ui.icon {
                display: flex;
                width: 100%;
                border: 0.13em solid #7e2444;
                border-radius: 5px;
                justify-content: space-between;
                margin-bottom: 10px;
            }
            .search-bar {
                width: 100%;
                margin-bottom: 10px;
                padding-right: 3%;
                padding-left: 3%;
            }
            #users {
                width: 100%;
                margin-top: 35px;
                margin-bottom: 50px;
            }
        }
    }
}