.ui.card > .image:not(.ui) > img {
    height: 50%;
}
.ui.cards > .card > .image:not(.ui) > img, .ui.card > .image:not(.ui) > img{
}
.follow_button{
    text-align: center;
    padding: 0px 10%;
    .button{
        color: white;
        background-color: #7d2d76;
        text-align: center;
        width: 100%;
        border: 1px solid #7d2d76;
        border-radius: 4px;
        padding: 5px;
        font-size: 16px;
        font-family: 'Poiret One',sans-serif;
        letter-spacing: 1px;
    }
    .button:hover{
        background-color: white;
        color: #7d2d76;
        font-size: 18px;

    }
}
