.ui.card > .image:not(.ui) > img {
    height: 50%;
}
.ui.cards > .card > .image:not(.ui) > img, .ui.card > .image:not(.ui) > img{
    margin: 10px;
    padding: 0;
    height: 50%;
    margin-left: 25%;
    width: 50%;
    border-radius: 50%;
}
.follow_button{
    text-align: center;
    .button{
        color: white;
        border-radius: 4px;
        background-color: #7e2444;
        text-align: center;
        width: 70%;
        padding: 5px;
        margin-bottom: 21px;
        font-size: 17px;
        font-family: 'Jura', sans-serif;
        letter-spacing: 1px;
    }
    .button:hover{
        background-color: #713c5e;

    }
}
