

<div class="edit-picture">

   <%= form_for(@user, as: @user, url: registration_path(@user), html: { method: :put }) do |f| %>

       <% if current_user.avatar? %>
           <%= f.cropbox :avatar, :width => 300 %>
           <%= f.crop_preview :avatar, :width => 150 %>
       <% end %>

       <div class="actions">
          <%= f.submit "Update picture", :class => "login-button" , :style => "background-color: #82367c;"%>
       </div>
   <% end %>

</div>
<div class="loader">

</div>


<script>

    $(window).load(function() {
        $(".loader").fadeOut(900);
    });

</script>