<div class="out_section">
   <h3 class="">Got college or organization email-id?</h3>
   <p>Login with your college or organization email id and enjoy our closed community features.</p><br>
   <p><%= button_to "Sign Out",destroy_user_session_path,method: :delete,:class=> 'sign_out_button' %>
</div>