
<div class="modepage">

   <div class="comm_select">
      <h2>Which Community?</h2>
      <span class="modelist">
         <% @modes.each do |f| %>
             <%= button_to f.mode,mode_set_mode_path(name: f.mode), method: :post ,:class=> 'sign_out_button' %>
         <% end %>
      </span>
      <% if @has_open_mode.length == 0  %>
          Make friends from other colleges or organiztions.
          <%= button_to "Add open Community",mode_add_open_mode_path(name: "open"), method: :post,:class=> 'sign_out_button' %>
      <% end %>
   </div>

   <br>

  <%= render 'mode/sign_out_section' %>

</div>