<br>
<br>
<br>
<br>
<br>
<h1>Which mode?</h1>

<% @modes.each do |f| %>
    <%= link_to f.mode,mode_set_mode_path(name: f.mode), method: :post  %>
<% end %>

<% if @has_open_mode.length == 0  %>
    <%= link_to "Add open Mode",mode_add_open_mode_path(name: "open"), method: :post %>
<% end %>
